node_modules/
build/
dist/
coverage/

# Sekretet
.env
.env.local
.env.*.local

# Fotografite e ngarkuara nga perdoruesit
backend/uploads/*
!backend/uploads/.gitkeep

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
